<section class="project-preview-wrap">
	<div class="detail-preview">
		<ul class="icons-discipline">
		  <% item.categories.each do |f| %>
		  	<li class="icon-<%= f %>"><%= f %></li>
		  <% end %>		
		</ul>
		<h3><%= item.title %></h3>
		<p><%= item.summary %></p>		
		<% link_to "/projects/#{item.slug}", class:'cta' do %>View Case Study<% end %>
	</div>
	<figure class="image-preview">
		<ul class="project-images project-<%= item.heroImageFormat %>">
			<% @previewImages = Dir.glob("source/img/projects/#{item.slug}/hero-preview/*.{png}") %>
				<% for previewImage in @previewImages %>
				<% previewImagePath = previewImage.to_s %>
				<% previewImagePath = previewImagePath.gsub!('source/img/projects/', '').gsub!(item.slug, '').gsub!('/hero-preview/', '').chomp(".png") %>				
					<li><div><a style="background-image: url(/img/projects/<%= item.slug %>/hero-preview/<%= previewImagePath %>.png)" href="/projects/<%= item.slug %>"><img src="/img/projects/<%= item.slug %>/hero-preview/<%= previewImagePath %>.png" alt="<%= item.title %> preview image" class="img-hero-preview" /></a></div></li>
			<% end %>
		</ul>
	</figure>
</section>