<section class="project-preview-wrap">
	<div class="detail-preview">
		<ul class="icons-discipline">
		  <% item.categories.each do |f| %>
		  	<li class="icon-<%= f %>"><%= f %></li>
		  <% end %>		
		</ul>
		<h3><%= item.title %></h3>
		<p><%= item.summary %></p>		
		<% link_to "/projects/#{item.slug}", class:'cta', title:'View Case Study' do %>View Case Study<% end %>
	</div>
	<figure class="image-preview">
		<ul class="project-images project-<%= item.heroImageFormat %>">
			<% @previewImages = Dir.glob("source/img/projects/#{item.slug}/hero-preview/*[^@2x].{png}") %>
				<% for previewImage in @previewImages %>
				<% previewImagePath = previewImage.to_s %>
				<% previewImagePath = previewImagePath.gsub!('source/img/projects/', '').gsub!(item.slug, '').gsub!('/hero-preview/', '').chomp(".png") %>				
					<li><div><a href="/projects/<%= item.slug %>" title="View <%= item.title %> Case Study">
						<img src="/img/projects/<%= item.slug %>/hero-preview/<%= previewImagePath %>.png" alt="<%= item.title %> preview image" />
					</a></div></li>
			<% end %>
		</ul>
	</figure>
</section>