<%
  item = @item
  gallery = @gallery

  content_for(:title)       { h strip_tags("#{item.client}: #{item.project} | space150 work") }
  content_for(:description) { h strip_tags(smartypants(markdownify(item.body))) }
  content_for(:keywords)    { h strip_tags("#{item.client}, #{item.project}, #{item.services}") }
%>

<div class="container work-detail poster">
  <div class="centered-container">
      <article>

      <div class="row">
        <br /></br />
        <header class="tight">
          <h3><%= item.client %></h3>
          <h4><%= item.project %></h4>
          <h5><%= item.services %></h5>
        </header>
      </div>

      <div class="row work-poster">
        <div id="slideshow-wrapper" style="position: relative">
          <div id="spinner"></div>
          <div id="slideshow">
              <% if item.vimeo %>
              <div class="slide">
                <iframe id="player1" src="http://player.vimeo.com/video/<%= item.vimeo.first %>?api=1&player_id=player1" class="vimeo" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div>
              <% end %>
              <div class="slide">
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="description eight columns">
          <div class="double-space">
          </div>
        </div>
        <div class="results four columns">

          <% if item.results %>
          <div class="double-space">
            <ul>
            <% for result in item.results %>
              <%= content_tag :li, result %>
            <% end %>
            </ul>
          </div>
          <% end %>

        </div>
      </div>
      <br /><br />
    </article>
  </div>
</div>
