---
title: 
---

<% item = @item %>

	<section class="detail-page-wrap clearfix">
		<div class="project-details"> 
				<ul class="icons-discipline">
				<% item.categories.each do |f| %>
				<li class="icon-<%= f %>"><%= f %></li>
				<% end %>		
			</ul>
			<h3><%= item.title %></h3>
			<p><%= item.summary %></p>
			<% if item.role %>
				<h4>Role</h4>
				<p><%= item.role %></p>
			<% end %>

			<% if item.technologyUsed %>
				<h4>Technology Used</h4>
					<p><% item.technologyUsed.each do |tech| %><%= tech %>, 
					<% end %>
					</p>
			<% end %>

			<% if item.company %>
			<h4>Company</h4>
			<p><%= item.company %></p>
			<% end %>	
			
			<% if item.cta %>
				<a class="cta" target="_blank" title="Link to <%= item.title %>" href="<%= item.cta.ctaLink %>"><%= item.cta.ctaText %></a>
			<% end %>
	</div>
	<div class="project-image-col clearfix">
	<%= image_tag 'fpo/desktop-screenshot.jpg', :title => 'RovenBashier.com Desktop Layout', :alt => 'RovenBashier.com Desktop Layout' %>
	<p>This is a small blurb Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut libero est. Proin mollis suscipit nunc, et accumsan magna fermentum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut libero est. </p>
	<%= image_tag 'fpo/desktop-screenshot.jpg', :title => 'RovenBashier.com Desktop Layout', :alt => 'RovenBashier.com Desktop Layout' %>
	<%= image_tag 'fpo/desktop-screenshot.jpg', :title => 'RovenBashier.com Desktop Layout', :alt => 'RovenBashier.com Desktop Layout' %>
</div>
</section>



