---
title: 
---

<% item = @item %>

	<section class="detail-page-wrap clearfix">
		<div class="project-details"> 
				<ul class="icons-discipline">
				<% item.categories.each do |f| %>
				<li class="icon-<%= f %>"><%= f %></li>
				<% end %>		
			</ul>
			<h3><%= item.title %></h3>
			<p><%= item.summary %></p>
			<% if item.role %>
				<h4>Role</h4>
				<p><%= item.role %></p>
			<% end %>

			<% if item.technologyUsed %>
				<h4>Technology Used</h4>
					<p><% item.technologyUsed.each do |tech| %><%= tech %>, 
					<% end %>
					</p>
			<% end %>

			<% if item.company %>
			<h4>Company</h4>
			<p><%= item.company %></p>
			<% end %>	
			
			<% if item.cta %>
				<a class="cta" target="_blank" title="Link to <%= item.title %>" href="<%= item.cta.ctaLink %>"><%= item.cta.ctaText %></a>
			<% end %>
	</div>
	<div class="project-image-col clearfix">
		
		<% #this really needs some cleanup - sorts throught images in a directory, then strips extra data besides base filename, creates srcset. Must be png. %>
		<% @detailImages = Dir.glob("source/img/projects/#{item.slug}/detail/*[^x].{png}") %>
			<% for detailImage in @detailImages %>
			<% detailImagePath = detailImage.to_s %>
			<% detailImagePath = detailImagePath.gsub!('source/img/projects/', '') %>
			<% detailImagePath = detailImagePath.gsub!(item.slug, '') %>
			<% detailImagePath = detailImagePath.gsub!('/detail/', '') %>
			<% detailImagePath = detailImagePath.chomp(".png")   %>
			<% if detailImagePath.include? 'lg-' %>
				<% detailImagePath = detailImagePath.gsub!('lg-', '') %>	
				<img src="/img/projects/<%= item.slug %>/detail/<%= detailImagePath %>.png" class="img-project" srcset="
					/img/projects/<%= item.slug %>/detail/sm-<%= detailImagePath %>.png 320w,
					/img/projects/<%= item.slug %>/detail/sm-<%= detailImagePath %>@2x.png 320w 2x, 
					/img/projects/<%= item.slug %>/detail/<%= detailImagePath %>.png 321w, 
					/img/projects/<%= item.slug %>/detail/<%= detailImagePath %>@2x.png 321w 2x,
					/img/projects/<%= item.slug %>/detail/lg-<%= detailImagePath %>.png 960w, 
					/img/projects/<%= item.slug %>/detail/lg-<%= detailImagePath %>@2x.png 960w 2x"
				/>
			<% end %>
		<% end %>
		
		<!-- <img src="../img/fpo/responsive-fpo.png" class="img-project" srcset="
			../img/fpo/sm-responsive-fpo.png 320w, 
		  ../img/fpo/sm-responsive-fpo@2x.png 320w 2x,
			../img/fpo/responsive-fpo.png 321w, 
		  ../img/fpo/responsive-fpo@2x.png 321w 2x,
			../img/fpo/lg-responsive-fpo.png 960w, 
		  ../img/fpo/lg-responsive-fpo@2x.png 960w 2x" 
		/> -->
	<%= image_tag 'fpo/desktop-screenshot.jpg', :title => 'RovenBashier.com Desktop Layout', :alt => 'RovenBashier.com Desktop Layout' %>
	<p>This is a small blurb Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut libero est. Proin mollis suscipit nunc, et accumsan magna fermentum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut libero est. </p>
	<%= image_tag 'fpo/desktop-screenshot.jpg', :title => 'RovenBashier.com Desktop Layout', :alt => 'RovenBashier.com Desktop Layout' %>
	<%= image_tag 'fpo/desktop-screenshot.jpg', :title => 'RovenBashier.com Desktop Layout', :alt => 'RovenBashier.com Desktop Layout' %>
</div>
</section>



