---
title: The Portfolio of Tom Wahlin
---

<section class="hero">
	Section hero
</section>



<!-- Loop test -->
<%= partial 'projects/index' %>










<section class="project-preview-wrap">
	<div class="detail-preview">
		<ul class="icons-discipline">
			<li class="icon-desktop">Desktop</li>
			<li class="icon-mobile">Mobile</li>				
		</ul>
		<h3>RovenBashier.com</h3>
		<p>Coded an easily editable system for a fellow designer, Roven Bashier. Worked with Roven on how to keep the site easily editable, and create a system that would be able to hold all his work smoothly.</p>
		<a class="cta" href="#">View Case Study</a>
	</div>
	<figure class="image-preview">
		<ul class="project-images project-mobile-desktop">
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'projects/roven-bashier-preview-mobile.png', :title => 'RovenBashier.com Mobile Layout', :alt => 'RovenBashier.com Mobile Layout' %></div>	
			</li>
			<li>
				<div class="holder-monitor"><%= image_tag 'projects/roven-bashier-preview-desktop.png', :title => 'RovenBashier.com Desktop Layout', :alt => 'RovenBashier.com Desktop Layout' %></div>	
			</li>
		</ul>
	</figure>
</section>

<section class="project-preview-wrap">
	<div class="detail-preview">
		<ul class="icons-discipline">
			<li class="icon-desktop">Desktop</li>
			<li class="icon-mobile">Mobile</li>
			<li class="icon-print">Print</li>				
		</ul>
		<h3>The Centurion Lounge</h3>
		<p>Here are the details about the project</p>
		<a class="cta" href="#">View Case Study</a>
	</div>
	<figure class="image-preview">
		<ul class="project-images project-mobile-desktop">
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
			<li>
				<div class="holder-monitor"><%= image_tag 'fpo/desktop-screenshot.jpg', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
		</ul>
	</figure>
</section>


<section class="project-preview-wrap">
	<div class="detail-preview">
		<ul class="icons-discipline">
			<li class="icon-desktop">Desktop</li>
			<li class="icon-mobile">Mobile</li>
			<li class="icon-print">Print</li>
			<li class="icon-film">Film</li>												
		</ul>
		<h3>The Centurion Lounge</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut libero est. Proin mollis suscipit nunc, et accumsan magna fermentum eu.</p>
		<a class="cta" href="#">View Case Study</a>
	</div>
	<figure class="image-preview">
		<ul class="project-images project-mobile">
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
		</ul>
	</figure>
</section>