---
title: The Portfolio of Tom Wahlin
---

<!-- Add your site or application content here -->
<section class="hero">
	hi
</section>


<!-- Testing http://designbyjoel.com/blog/2012-10-20-building-a-blog-in-middleman/ -->
<% blog.articles[0...5].each do |article| %>
  <article>
    <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
    <time><%= article.date.strftime('%b %e, %Y') %></time>
    <p><%= article.data.teaser %></p>
    <p><a href="<%= article.url %>">Read more.</a></p>
  </article>
<% end %>






<section class="project-preview-wrap">
	<div class="detail-preview">
		<ul class="icons-discipline">
		  <% data.fpo.projectType.each do |f| %>
		  	<li class="icon-<%= f %>"><%= f.camelize %></li>
		  <% end %>
		</ul>
		<h3><%= data.fpo.projectTitle %></h3>
		<p><%= data.fpo.projectDescription %></p>
		<a class="cta" href="#">View Project</a>
	</div>
	<figure class="image-preview">
		<ul class="project-images project-mobile">
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
		</ul>
	</figure>
</section>





<section class="project-preview-wrap">
	<div class="detail-preview">
		<ul class="icons-discipline">
			<li class="icon-desktop">Desktop</li>
			<li class="icon-mobile">Mobile</li>
			<li class="icon-print">Print</li>
			<li class="icon-film">Film</li>												
		</ul>
		<h3>The Centurion Lounge</h3>
		<p>Here are the details about the project</p>
		<a class="cta" href="#">View Project</a>
	</div>
	<figure class="image-preview">
		<ul class="project-images project-mobile">
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
		</ul>
	</figure>
</section>

<section class="project-preview-wrap">
	<div class="detail-preview">
		<ul class="icons-discipline">
			<li class="icon-desktop">Desktop</li>
			<li class="icon-mobile">Mobile</li>
			<li class="icon-print">Print</li>	
			<li class="icon-film">Film</li>						
		</ul>
		<h3>The Centurion Lounge</h3>
		<p>Here are the details about the project</p>
		<a class="cta" href="#">View Project</a>
	</div>
	<figure class="image-preview">
		<ul class="project-images project-mobile-desktop">
			<li>
				<div class="holder-mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
			<li>
				<div class="holder-monitor"><%= image_tag 'fpo/desktop-screenshot.jpg', :title => 'this is the title', :alt => 'this is the alt' %></div>	
			</li>
		</ul>
	</figure>
</section>





